<div class="my-3 mx-auto" style="max-width: 30rem;">
  <h2 class="text-center">Regisztr치ci칩</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt-2">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mt-2">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em>(min. <%= @minimum_password_length %> karakter)</em>
      <% end %>
    </div>

    <div class="mt-2">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="my-3 text-center">
      <%= f.submit "Regisztr치ci칩", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
