<div class="d-block mt-4 text-center">
  <div class="d-block">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Bejelentkezés #{OmniAuth::Utils.camelize(provider)} segítségével", omniauth_authorize_path(resource_name, provider), method: :post, class: "btn btn-outline-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="d-block mt-1">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Bejelentkezés", new_session_path(resource_name), class: "btn btn-outline-primary mt-1" %>
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Regisztráció", new_registration_path(resource_name), class: "btn btn-outline-primary mt-1" %>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Elfelejtette jelszavát?", new_password_path(resource_name), class: "btn btn-outline-primary mt-1" %>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Nem kapott megerősítési útmutatást?", new_confirmation_path(resource_name), class: "btn btn-outline-primary mt-1" %>
    <% end %>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Nem kapott zárfeloldási útmutatást?", new_unlock_path(resource_name), class: "btn btn-outline-primary mt-1" %>
    <% end %>
  </div>
</div>
