<%= form_with(model: user, local: true) do |form| %>
  <%= render 'layouts/errors', errors: user.errors %>

  <div class="field">
    <%= form.label :force_authorized, class: "label" do %>
      <%= form.check_box :force_authorized %>
      Belépési engedély kényszerítése (force_authorized)
    <% end %>
  </div>

  <div class="field">
    <%= form.label :admin, class: "label" do %>
      <%= form.check_box :admin %>
      Adminisztrátori jog
    <% end %>
  </div>

  <div class="my-4 has-text-danger">
    Jól nézz utána, vagy kérdezz meg egy senior Kir-Dev tagot, mivel járnak az itt eszközölt változtatások!
  </div>

  <div class="is-flex is-justify-content-space-between mt-5">
    <%= link_to "Vissza", user_path(user), class: "button" %>
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
