<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>authorized:</strong>
  <%= @user.authorized? %>
</p>

<p>
  <strong>force_authorized:</strong>
  <%= @user.force_authorized? %>
</p>

<p>
  <strong>admin:</strong>
  <%= @user.admin? %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
