<h1 class="is-size-1 mb-4 has-text-centered">Felhasználó adatai</h1>

<div style="overflow-x: auto;">
  <table class="table is-hoverable mx-auto">
    <tbody>
    <% if logged_in_as_site_admin? %>
      <tr>
        <td class="has-text-right">Uid:</td>
        <td><%= @user.uid %></td>
      </tr>
    <% end %>
    <tr>
      <td class="has-text-right">Név:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td class="has-text-right">E-mail:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td class="has-text-right">Belépés ideje:</td>
      <td><%= l @user.created_at %></td>
    </tr>
    <tr>
      <td class="has-text-right">Körtagságok:</td>
      <td>
        <% @user.circles.each do |circle| %>
          <div>
            <%= link_to circle.name, circle %>
          </div>
        <% end %>
      </td>
    </tr>
    <% if logged_in_as_site_admin? %>
      <tr>
        <td class="has-text-right">Site admin jog:</td>
        <td><%= @user.site_admin? ? "Igen" : "Nem" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="is-flex is-justify-content-center mt-5">
  <% if logged_in_as_site_admin? %>
    <%= link_to "Vissza", adminpage_users_path, class: "button mx-2" %>
    <%= link_to "Felülírás", edit_user_path(@user), class: "button is-warning mx-2" %>
  <% else %>
    <%= link_to "Vissza", root_path, class: "button mx-2" %>
  <% end %>
</div>
