<% content_for :javascripts do %>
  <%= javascript_pack_tag 'album-index', 'data-turbolinks-track': 'reload' %>
<% end %>

<% if @circle.nil? %>
  <h1 class="is-size-3 mb-3"><%= @title %></h1>
<% else %>
  <h1 class="is-size-3 mb-3"><%= link_to @circle.name, details_circle_path(@circle) %> kör albumai</h1>
<% end %>

<div class="columns is-desktop p-3">
  <div class="mb-2 is-flex-grow-1">
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Search" id="searchBar">
      <span class="icon is-left">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </span>
    </div>
  </div>
  <div class="has-text-right mb-6 ml-2">
    <%= link_to 'Új album létrehozása', new_album_path, class: "button" %>
  </div>
</div>

<div class="columns is-mobile is-multiline album-columns">
  <% @albums.each do |album| %>
    <div 
      class="column mt-3 is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen" 
      id="albumColumn" 
      data-title="<%= album.title %>"
      data-desc="<%= album.desc %>"
      data-circle="<%= album.circle&.name %>"
    >
      <div class="card album-card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= link_to album do %>
              <%= image_tag url_for(album.thumbnail), class: "album-card-thumbnail" %>
            <% end %>
          </figure>
        </div>

        <%# Button for admins or the owner %>
        <% if logged_in_as_site_admin? || logged_in_as_admin_of?(album.circle) || album.user == current_user %>
          <%= link_to album, class: "button is-danger album-image-delete",
            method: :delete, data: { confirm: 'Valóban el szeretnéd távolítani a teljes albumot?' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          <% end %>
        <% end %>

        <%# Image of circle %>
        <div class="album-card-circle">
          <%= image_tag url_for(album.circle&.mini), class: "album-card-circle-image" %>
        </div>

        <div class="card-content p-3 is-relative">
          <%# Private badge %>
          <% unless album.public? %>
            <div class="album-card-nonpublic">
              <span 
                class="tag is-warning" 
                title="Az album képei nem elérhetőek a weboldalon kívülről"
              >
                Nem publikus<sup class="is-align-self-flex-start">?</sup>
              </span>
            </div>
          <% end %>
          
          <%= link_to album, class: "has-text-weight-semibold" do %>
            <span class="is-size-4"><%= album.title %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
