<%= form_with(model: circle, local: true) do |form| %>
  <%= render 'layouts/errors', errors: circle.errors %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="label">Kör logója</div>
    <div class="file is-fullwidth has-name">
      <label class="file-label">
        <%= form.file_field :logo, multiple: false, accept: 'image/png, image/jpeg', class: 'file-input', id: 'fileinput' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name" id="filename">
          Not selected
        </span>
      </label>
    </div>
  </div>

  <div class="is-flex is-justify-content-space-between mt-5">
    <%= link_to "Vissza", back_path, class: "button" %>
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag 'circle-create', 'data-turbolinks-track': 'reload' %>
<% end %>
