<h1 class="is-size-3 mb-3">Körök</h1>

<% if logged_in_as_site_admin? %>
  <div class="p-3">
    <div class="has-text-right mb-6 ml-2">
      <%= link_to 'Új kör létrehozása', new_circle_path, class: "button" %>
    </div>
  </div>
<% end %>

<div class="columns is-mobile is-multiline album-columns">
  <% @circles.each do |circle| %>
    <div class="column mt-3 is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
      <div class="card album-card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= link_to circle do %>
              <%= image_tag url_for(circle.thumbnail), class: "album-card-thumbnail" %>
            <% end %>
          </figure>
        </div>

        <%# Button for joining %>
        <% if not is_in_circle?(circle) %>
          <%= form_with(model: circle) do |form| %>
            <%= form.hidden_field :circle_id, circle.id %>
            <%= form.hidden_field :user_id, current_user.id %>
            <%= form.submit 'Csatlakozás', class: "button is-info", 
              data: { confirm: 'Valóban szeretne belépni ebbe a körbe?' } %>
          <% end %>
        <% end %>

        <div class="card-content p-3">
          <%= link_to circle, class: "has-text-weight-semibold" do %>
            <span class="is-size-4"><%= circle.name %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
